name: PowerShell Syntax & Lint Check

on:
  push:
    paths:
      - '**/*.ps1'
  pull_request:
    paths:
      - '**/*.ps1'

jobs:
  lint-with-PSScriptAnalyzer:
    name: Install and run PSScriptAnalyzer
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Install PSScriptAnalyzer module
        shell: pwsh
        run: |
          Set-PSRepository PSGallery -InstallationPolicy Trusted
          Install-Module PSScriptAnalyzer -ErrorAction Stop

      - name: Lint with PSScriptAnalyzer
        shell: pwsh
        run: |
          $issues = Invoke-ScriptAnalyzer -Path . -Recurse

          $errors   = $issues | Where-Object { $_.Severity -eq 'Error' }
          $warnings = $issues | Where-Object { $_.Severity -eq 'Warning' }

          Write-Output "PSScriptAnalyzer found $($errors.Count) errors and $($warnings.Count) warnings."

          if ($errors.Count -gt 0) {
            Write-Error "Failing due to PowerShell linting errors."
          }
